@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:wght@400&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto Mono', monospace;
}

.center {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 2vw;
  padding-top: 1.4vh;
}

.whiteline {
  z-index: 0;
  position: absolute;
  margin-left: 32.28vw;
  background-color: #FFFFFF;
  width: 4px;
  height: 100vh;
}

.whitelinebefore {
  z-index: 0;
  position: absolute;
  margin-left: 32.28vw;
  background-color: #FFFFFF;
  width: 4px;
  height: 100vh;
}

.blackline {
  z-index: 0;
  position: absolute;
  margin-left: 32.28vw;
  background-color: #000000;
  width: 6px;
  height: 100vh;
  /* box-shadow: #FFFFFF 0px 0px 24px; */
}

.greyline {
  position: absolute;
  margin-left: 32.28vw;
  background-color: #D3D3D3;
  width: 4px;
  height: 100vh;
}

.yellowline {
  position: absolute;
  margin-left: 32.28vw;
  background-color: #F7D65A;
  width: 4px;
  height: 100vh;
}

.aboutus {
  /* padding-top: 890px; */
  margin-left: 1vw;
  font-weight: 700;
  font-size: 6vw;
}

.sampls {
  font-weight: 700;
  font-size: 8vw;
  padding-top: 890px;
  margin-left: 0vw;
}

.presets {
  padding-top: 820px;
  font-weight: 700;
  font-size: 7vw;
  margin-left: 0.4vw;
  color: #FFFFFF;
}

.clickme {
  font-weight: 700;
  font-size: 10vw;
  position: absolute;
  padding-left: 36vw;
  margin-right: 0;
  padding-top: 60px;
  margin-left: 0vw;
  color: #FFFFFF;
}

.contact {
  position: absolute;
  margin-top: 910px;
  margin-left: 18px;
  font-weight: 700;
  font-size: 7vw;
}

.discord {
  /* z-index: 10; */
  margin-left: 14.43vw;
  padding-top: 34.9vh;
  font-size: 19.5vw;
  font-weight: 700;
  /* text-align: center; */
}

p {
  z-index: 8;
  font-size: 6vw;
  font-weight: 400;
  font-family: 'Ballet', cursive;
  font-weight: 400;
}

.blackbg {
  background-color: #1B2E4F;
  /* width: 67.6vw; */
  /* float: right; */
  width: 100vw;
  height: 100vh;
}

.blckbg {
  background-color: #000000;
  /* width: 67.6vw; */
  /* float: right; */
  width: 100vw;
  height: 100vh;
}

.whitebg {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
}

.yellowbg {
  border-width: 20vw;
  border: #000000;
  background-color: #F7D65A;
  width: 100vw;
  height: 100vh;
}

.greybg {
  background-color: #D3D3D3;
  width: 100vw;
  height: 100vh;
}

.whitesiding {
  /* position: relative; */
  /* float: left; */
  width: 32.4vw;
  height: 100vh;
  /* background-color: #F90223; */
}

.greytext {
  color: #D3D3D3;
}

.blacktext {
  color: #000000;
}

.whitetext {
  color: #FFFFFF;
  /* text-shadow: #FFFFFF 0px 0px 30px; */
}

.yellowtext {
  color: #F7D65A;
}

.logo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

.aboutsesh {
  z-index: 1;
}

.circle {
  margin-left: 30.9vw;
  margin-top: 39.7vh;
  z-index: 20;
  position: fixed;
  background-color: #000000;
  /* box-shadow: #FFFFFF 0px 0px 28px; */
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

/* .circle:hover {
  background-color: #FFFFFF;
} */

.discordlink {
  margin-left: 30.9vw;
  margin-top: 39.7vh;
  z-index: 40;
  background-color: #738ADB;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
}

/* .crater {
  margin-left: .18vw;
  margin-top: 0.34vh;
  z-index: 2;
  position: fixed;
  background-color: #D3D3D3;
  /* box-shadow: #000000 0px 0px 4px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: background-color .5s ease;
} */


/* .crater {
  margin-left: .94vw;
  margin-top: 1.6vh;
  z-index: 2;
  position: fixed;
  background-color: #D3D3D3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
} */

.dot {
  margin-left: 33vw;
  margin-top: 39vh;
  /* z-index: 1; */
  z-index: 2;
  position: fixed;
  background-color: #F58F55;
  /* box-shadow: #1B2E4F 0px 0px 10px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.dot:hover {
  background-color: #F58F55;
  z-index: 22;
  /* transition: smooth; */
}

/* .art {
  padding-top: 2vh;
  margin-left: 35vw;
  margin-right: 20vw;
} */

.clicktobegin {
  z-index: 2;
  position: absolute;
  margin-left: 29.39vw;
  margin-top: 65vh;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.18rem;
}

.clickme {}

.clicktobegin:hover {
  color: #738ADB;
  text-decoration: overline;
}

#home {
  position: absolute;
  /* z-index: 0; */
}

#about {
  position: absolute;
  margin-left: 4vw;
  /* margin-top: 65.5vh; */
  /* right: 0; */
  /* margin-right: 1vw; */
}

#sampls {
  position: absolute;
  margin-left: 4vw;
  /* margin-left: 16vw; */
  /* margin-top: 46vh; */
  /* padding-top: 41vh; */
}

#presets {
  position: absolute;
  /* margin-left: 10vw; */
  /* margin-top: 20vh; */
  /* padding-top: 60vh; */
  /* padding-left: 8vw; */
}

#contact {
  position: absolute;
  /* margin-top: 36vh; */
}

.clicktosampls {
  z-index: 4;
  position: absolute;
  margin-top: -4.6vh;
  margin-left: 31vw;
  /* width: 50px;
  height: 50px; */
}

.bluseparator {
  position: absolute;
  width: 100vw;
  height: 20vh;
  background-color: #1B2E4F;
}

.blackseparator {
  position: absolute;
  width: 100vw;
  height: 20vh;
  background-color: #000000;
}

.icon {
  font-size: 2vw;
  opacity: 0;
  z-index: 21;
  position: absolute;
  margin-left: 31.55vw;
  margin-top: 29vh;
  max-width: 4vw;
  color: #1B2E4F;
}

.icon:hover {
  /* z-index: 6; */
  opacity: 100%;
  color: #2DFF97;
}

.icon2 {
  font-size: 2vw;
  opacity: 0;
  z-index: 21;
  position: absolute;
  margin-left: 31.5vw;
  margin-top: -47.45vh;

  max-width: 4vw;
  color: #D3D3D3;
}

.icon2:hover {
  /* z-index: 6; */
  opacity: 100%;
  color: #F7D65A;
}

.icon3 {
  font-size: 2vw;
  opacity: 0;
  z-index: 21;
  position: absolute;
  margin-left: 31.2vw;
  margin-top: -39.8vh;
  max-width: 4vw;
  color: #F7D65A;
}

.icon3:hover {
  /* z-index: 6; */
  opacity: 100%;
  color: #738ADB;
}

.icon4 {
  font-size: 2.08vw;
  opacity: 0;
  z-index: 21;
  position: absolute;
  margin-left: 31.15vw;
  margin-top: 40.65vh;
  /* margin-left: 31.2vw; */
  /* margin-top: -47.4vh; */
  max-width: 4vw;
  color: #FFFFFF;
}

.icon4:hover {
  /* z-index: 6; */
  opacity: 100%;
  color: #FFFFFF;
}

.contactcard {
  padding-left: 31.1vw;
  right: 0;
  top: -1px;
  /* bottom: ; */
  z-index: 8;
  position: absolute;
  font-size: 5vw;
  color: #F7D65A;
}

.sideways {
  position: absolute;
  font-weight: 700;
  font-family: 'Ballet', cursive;
  margin-top: -14vh;
  margin-left: 29vw;
  transform: rotate(270deg);
  color: blue;
}

.discordlogo {
  position: absolute;
  z-index: 0;
  width: 400px;
  height: 400px;
  padding-left: 40vw;
  padding-top: 10vh;
  overflow: hidden;
}