@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
  padding-top: 1.4vh;
}

.bigoltext {
  margin-left: 10.8vw;
  padding-top: 34.9vh;
  font-size: 19.5vw;
  font-weight: 700;
  text-align: center;
}

p {
  font-weight: 400;
}

.blackbg {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}

.whitebg {
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
}

.yellowbg {
  background-color: #F7D65A;
  width: 100vw;
  height: 100vh;
}

.greybg {
  background-color: #D3D3D3;
  width: 100vw;
  height: 100vh;
}

.blacktext {
  color: #000000;
}

.whitetext {
  color: #FFFFFF;
  text-shadow: #FFFFFF 0px 0px 30px;
}

.yellowtext {
  color: #F7D65A;
}

.logo {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}

.circle {
  margin-left: 30.9vw;
  margin-top: 39.7vh;
  z-index: 1;
  position: fixed;
  background-color: #FFFFFF;
  /* box-shadow: #FFFFFF 0px 0px 28px; */
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

.crater {
  margin-left: .18vw;
  margin-top: 0.34vh;
  z-index: 2;
  position: fixed;
  background-color: #D3D3D3;
  /* box-shadow: #000000 0px 0px 4px; */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: background-color .5s ease;
}

/* 
.crater {
  margin-left: .94vw;
  margin-top: 1.6vh;
  z-index: 2;
  position: fixed;
  background-color: #D3D3D3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
} */

.dot {
  margin-left: .94vw;
  margin-top: -1.05vh;
  z-index: 3;
  position: fixed;
  background-color: black;
  /* box-shadow: #1B2E4F 0px 0px 10px; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.art {
  padding-top: 2vh;
  margin-left: 35vw;
  margin-right: 20vw;
}