@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  background-color: #F7D65A;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}